//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.navbar{
    background-color: rgba($color: $brand-color, $alpha: 1.0);
}


.nav-item{
    padding-top: 28px;
    padding-bottom: 28px;
    padding-right: 13px;
}