//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.navbar {
  background-color: rgba($color: $brand-color, $alpha: 1);
}

.nav-item {
  padding-top: 28px;
  padding-right: 12px;
  padding-bottom: 28px;
}

@media only screen and (max-width: 992px) {
  .navbar-expand-md .navbar-nav .nav-link {
    letter-spacing: 0;
  }
}

@media only screen and (min-width: 993px) {
  .navbar-expand-md .navbar-collapse {
    display: flex!important;
  }
  .navbar-expand-md .navbar-toggler {
    display: none!important;
  }
}

@media only screen and (max-width: 767px) {
  .nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    letter-spacing: 2px;
  }
}
