.section-header-style {
  text-align: center;

  h2 {
    margin-top: 0;

    text-align: center;
    text-transform: uppercase;
    &:after {
      content: "";

      display: block;
      margin: 13px auto;
      width: 75px;

      border-bottom: 1px;
      border-color: $brand-color;
      border-style: solid;
    }
  }

  p {
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 14px;
    text-align: center;

    span {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 992px) {
  .section-header-style {
    h2 {
      font-size: 25px;
    }
    p {
      margin-top: 25px;
      margin-bottom: 85px;
    }
  }
}
