.section-header-style {
  text-align: center;

  h2 {
    margin-top: 0;

    text-align: center;
    text-transform: uppercase;
  &:after {
    content: '';
    width: 8%;

    border-bottom: 1px;
    border-color: $brand-color;
    border-style: solid;
    display: block;
    margin: 13px auto;
  }
}

 
  p {
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 14px;
    text-align: center;

    span {
      font-weight: 500;
      font-size: 14px;
    }
  }

}
