//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out;
}

#section-intro {
  height: 905px;

  background-color: $brand-color;
}

.section-intro-content {
  width: 50%;

  p {
    margin-top: 25px;
  }
  .button-main {
    margin-top: 50px;
  }
}

#section-about {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: $light-grey;

  p {
    margin-bottom: 80px;
  }

  h4 {
    padding-bottom: 4px;
  }

  h5 {
    margin-bottom: 5px;
  }

  .container {
    .row:nth-child(2) {
      padding: 20px;

      background-color: white;
    }
  }

  // .row hr {
  //   width: 7%;
  //   border-top: 3px;
  //   border-color: $brand-color;
  //   border-style: solid;
  // }
}

#profile {
  width: 535px;
  height: 642px;

  // background-color: $dark-grey;
}

.progress {
  margin-bottom: 18px;

  border-radius: 0;
}

.progress-bar {
  background-color: $brand-color;
}

.section-social {
  margin-top: 35px;
}

.icon-social {
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    width: 35px;
    height: 35px;

    font-size: 15px;

    border: 1px;
    border-color: $text-color;
    border-style: solid;
    border-radius: 100%;
  }
}

#section-services {
  padding-top: 100px;
  padding-bottom: 100px;

  .section-header-style {
    p {
      margin-bottom: 80px;
    }
  }
}

.cards-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px;
  margin-top: 20px;
  margin-bottom: 0;

  background-color: $light-grey;

  h4 {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;

    border: 2px;
    border-color: $brand-color;
    border-style: solid;
    border-radius: 100%;
  }
}

#section-portfolio {
  padding-top: 95px;
  padding-bottom: 100px;

  background-color: $light-grey;

  img {
    width: 100%;
    height: 100%;
  }

  .row div {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

#section-testimonials {
  position: relative;

  display: flex;
  align-items: center;
  height: 720px;

  background-image: url(../../assets/images/testimonials-bg.jpeg);
  background-position: center;

  h3 {
    &:after {
      content: "";

      display: block;
      margin: 13px auto;
      width: 75px;

      border-bottom: 1px;
      border-color: $brand-color;
      border-style: solid;
    }
  }

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 38px;
    height: 38px;

    border: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 100%;
  }

  &:after {
    content: "";

    position: absolute;
    top: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba($color: $background-black, $alpha: .9);
  }
}

.swiper-container {
  position: relative;

  width: 100%;
  min-height: 500px;
  overflow: hidden;

  border-radius: 3px;
}

.swiper-pagination {
  position: absolute;
  bottom: 45px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  height: auto;
}

#section-contact {
  padding-top: 100px;
  padding-bottom: 100px;

  .container {
    min-width: 300px;
    max-width: 930px;
  }

  p {
    margin-bottom: 55px;
  }

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;

    font-size: 20px;
    color: white;

    background-color: $brand-color;
    border-style: solid;
    border-radius: 100%;
  }

  form {
    padding-right: 60px;
    padding-left: 60px;
  }

  .row:nth-child(2) {
    p {
      margin-top: 25px;
    }
  }
}

//Media Query
@media only screen and (max-width: 1200px) {
  #section-intro {
    height: 700px;
  }

  // #section-about h4 {
  //   padding-top: 20px;
  // }

  #profile,
  #profile img {
    width: 100%;
    height: 100%;
  }

  #section-about {
    padding-top: 95px;

    h4 {
      padding-top: 50px;
    }
  }
  .section-social {
    margin-top: 0;
  }
}

@media only screen and (max-width: 992px) {
  #section-intro {
    height: 446px;
  }
  .section-intro-content {
    padding-right: 10%;
    padding-left: 10%;
    width: 100%; .button-main {
      margin-top: 0;
    }
  }

  #section-about {
    padding-top: 95px;

    .section-social h4 {
      padding-top: 0;
    }
  }

  #section-services {
    padding-top: 90px;
  }

  #section-portfolio {
    padding-top: 70px;
    padding-bottom: 85px;
    p {
      margin-bottom: 30px;
    }
  }

  #section-testimonials {
    height: 760px;
  }

  #section-contact {
    padding-top: 95px;
    padding-bottom: 80px;
    p {
      margin-bottom: 60px;
    }
    .row:nth-child(2) {
      p {
        margin-bottom: 20px;
      }
    }
    form {
      padding-top: 40px;
    }
    .button-submit {
      width: 100%;
    }
  }
}
