//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all 0.2s ease-in-out;
}

#section-intro {
  height: 905px;

  background-color: $brand-color;
}

.section-intro-content {
  width: 50%;

  p {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .button-main {
    margin-top: 14px;
  }
}

#section-about {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: $light-grey;

  p {
    margin-bottom: 80px;
  }

  h4 {
    padding-bottom: 4px;
  }

  h5 {
    margin-bottom: 5px;
  }

  .container {
    .row:nth-child(2) {
      padding: 20px;

      background-color: white;
    }
  }

  // .row hr {
  //   width: 7%;
  //   border-top: 3px;
  //   border-color: $brand-color;
  //   border-style: solid;
  // }
}

#profile {
  width: 535px;
  height: 642px;

  // background-color: $dark-grey;
}

.progress {
  margin-bottom: 18px;
  border-radius: 0;
}

.progress-bar {
  background-color: $brand-color;
}

.section-social {
  margin-top: 35px;
}

.icon-social {
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    height: 35px;
    width: 35px;

    font-size: 15px;

    border: 1px;
    border-color: $text-color;
    border-style: solid;
    border-radius: 100%;
  }
}

#section-services {
  padding-top: 100px;
  padding-bottom: 100px;

  .section-header-style {
    p {
      margin-bottom: 80px;
    }
  }
}

.cards-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 18px;
  margin-top: 30px;

  background-color: $light-grey;

  h4 {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;

    border: 2px;
    border-color: $brand-color;
    border-style: solid;
    border-radius: 100%;
  }
}

#section-portfolio {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: $light-grey;

  img {
    width: 100%;
    height: 100%;
  }

  .row div {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

#section-testimonials {
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 38px;
    width: 38px;

    border: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 100%;
  }
}

.swiper-container {
  margin-top: 40px;
  width: 100%;
  height: 725px;
  overflow: hidden;

  background-image: url(../../assets/images/testimonials-bg.jpeg);
  background-position: center;
  border-radius: 3px;
}

.swiper-slide {
  background-color: rgba($color: $background-black, $alpha: 0.9);

  display: flex;
  justify-content: center;
  align-items: center;
}

#section-contact {
  padding-top: 100px;
  padding-bottom: 100px;

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;

    font-size: 20px;
    color: white;

    background-color: $brand-color;
    border-style: solid;
    border-radius: 100%;
  }

  form {
    margin-top: 30px;
  }

  .input-style {
    width: 100%;
    height: 45px;
    padding: 15px;

    border: 1px;
    border-style: solid;
    border-color: $dark-grey;
    border-radius: 5px;
    background-color: transparent;
  }

  .textarea-style {
    height: 190px;
  }
}

//Media Query
@media only screen and (max-width: 1200px) {
  #section-intro {
    height: 700px;
  }

  #section-about h4 {
    padding-top: 20px;
  }

  #profile,
  #profile img {
    width: 100%;
    height: 100%;
  }

  .section-social {
    margin-top: 0;
  }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  .section-intro-content {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 544px) {
}

@media only screen and (max-width: 364px) {
  #section-intro {
    height: 500px;
  }
  .section-intro-content .button-main {
    margin-top: 0;
  }
}
