//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
$font-opensans: 'Open Sans';

// Poppins
$font-poppins: 'Poppins';

/// @type List
$text-font-stack: $font-poppins, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #1c1b1b !default;

/// Main brand color
/// @type Color
$brand-color: #339999 !default;

/// Light grey
/// @type Color
$light-grey: #f7f7f7 !default;

/// Medium grey
/// @type Color
$mid-grey: #eeeeee !default;

/// Dark grey
/// @type Color
$dark-grey: #bcbcbc !default;

/// Black for Backgound
/// @type Color
$background-black: #2e2e2e !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;
