//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

@include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

.btn,
a {
          transition: all .2s ease-in-out;

  -webkit-transition: all .2s ease-in-out;

@include on-event {
    outline: 0;

@include boxshadow(none);
  }
}

/**
 * Basic styles for input fields
 */
input[type="email"],
input[type="password"],
input[type="text"] {
  outline: none;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-focus-ring-color: none;

@include on-event {
    @include boxshadow(none);
  }
}

.input-style {
  padding: 15px;
  width: 100%;
  height: 45px;

  background-color: transparent;
  border: 1px;
  border-color: $dark-grey;
  border-style: solid;
  border-radius: 5px;
}

.textarea-style {
  height: 190px;
}

//styles for navbar-toggler
.navbar-toggler {
  padding: 8px 8px;

  border: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;

@include on-event() {
    outline: 0;
  }

  .icon-bar {
    display: block;
    width: 29px;
    height: 4px;

    background: #ffffff;

@include transition(.5s cubic-bezier(.65, .05, .36, 1));

@include boxshadow(none);

    & + .icon-bar {
      margin-top: 4px;
    }
  }

  &[aria-expanded="true"] {
    .icon-bar {
      &:first-child {
        @include transform(rotate(225deg) translate(-6px, -5px));
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        @include transform(rotate(-225deg) translate(-6px, 6px));
      }
    }
  }
}
