//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  font: normal 125% / 1.4 $text-font-stack;
  color: $text-color;
}

.title {
  font-family: $font-poppins;
  font-weight: 600;
}

.navbar-brand {
  font: {
    family: $font-poppins;
    size: 40px;
  } ;
  letter-spacing: 2px;
  color: white;
}

.nav-link {
  font: {
    family: $font-poppins;
    size: 13px;
  } ;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
}

.section-intro-content {
  color: white;
  text-align: center;

  h1 {
    font: {
      family: $font-poppins;
      size: 60px;
      weight: 500;
    }
  }

  h3 {
    font: {
      family: $font-poppins;
      size: 28px;
      weight: 300;
    }

    span {
      font: {
        family: $font-poppins;
        size: 28px;
        weight: 500;
      }
    }
  }

  p {
    font: {
      family: $font-poppins;
      size: 14px;
      weight: 300;
    }
  }
}

#section-about {
  h4 {
    font-size: 27px;
  }

  h5 {
    font-size: 15px;
  }
}

.cards-services {
  i {
    font-size: 30px;
    color: $brand-color;
  }
  h4 {
    font-size: 22px;
  }
  p {
    font-size: 15px;
    text-align: center;
  }
}

#section-testimonials {
  h3 {
    margin-top: 0;

    font: {
      size: 33px;
      weight: 400;
    } ;
    text-align: center;
  }

  p {
    font-size: 16px;
    font-weight: 300;
  }

  span {
    font-size: 20px;
    text-transform: uppercase;

    p {
      margin-top: 8px;

      font-size: 14px;
      font-weight: 300;
      text-transform: capitalize;
    }
  }
}

.swiper-slide {
  font-size: 18px;
  text-align: center;
}

#section-contact {
  p {
    font-size: 14px;
    text-align: center;
  }

  .input-style {
    font: {
      family: $font-poppins;
      size: 15px;
      weight: 300;
    }
  }
}

footer {
  font: {
    family: $font-poppins;
    size: 15px;
    weight: 300;
  }

  a {
    font-weight: 400;
    color: $text-color;
  }
}

@media only screen and (max-width: 992px) {
  .section-intro-content {
    h1 {
      font-size: 40px;
    }

    h3 {
      font-size: 20px;

      span {
        font-size: 25px;
      }
    }

    p {
      font-size: 13px;
    }
  }

  #section-testimonials {
    h3 {
      font-size: 25px;
    }
    p {
      margin-bottom: 55px;
    }
  }
}
