//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

.title {
  font-family: $font-poppins;
  font-weight: 600;
}

.navbar-brand {
  font: {
    family: $font-poppins;
    size: 40px;
  }
  letter-spacing: 2px;
  color: white;
}

.nav-link {
  font: {
    family: $font-poppins;
    size: 13px;
  }
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
}

.section-intro-content {
  letter-spacing: 1px;
  color: white;
  text-align: center;

  h1{
    font: {
      family: $font-poppins;
      size: 60px;
      weight: 500;
    }
  }

  h3{
    font: {
      family: $font-poppins;
      size: 28px;
      weight: 300;
    }

    span{
      font: {
        family: $font-poppins;
        size: 28px;
        weight: 500;
      }
    }
  }

  p{
    font: {
      family: $font-poppins;
      size: 14px;
      weight: 300;
    }
  }

}

#section-about{
  h4{
    font-size: 27px;
  }

  h5{
    font-size: 15px;
  }
}

.cards-services{
  i{
    color: $brand-color;
    font-size: 30px;
  }
  h4{
    font-size: 22px;
  }
  p{
    font-size: 15px;
    text-align: center;
  }
}


@media only screen and (max-width: 364px) {
  .section-intro-content {
    h1{
      font-size: 40px;
    }
  
    h3{
      font-size: 20px;

      span{
        font-size: 25px;
      }
    }
  
    p{
      font-size: 13px;
    }
  
  }
}