//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

.title {
  font-family: $font-poppins;
  font-weight: 600;
}

.section-intro-content {
  letter-spacing: 1px;
  color: white;
  text-align: center;

  h1{
    font: {
      family: $font-poppins;
      size: 60px;
      weight: 500;
    }
  }

  h3{
    font: {
      family: $font-poppins;
      size: 28px;
      weight: 300;
    }

    span{
      font: {
        family: $font-poppins;
        size: 28px;
        weight: 500;
      }
    }
  }

  p{
    font: {
      family: $font-poppins;
      size: 14px;
      weight: 300;
    }
  }

  .button-style{
    font: {
      family: $font-poppins;
      size: 15px;
      weight:300
    }
    letter-spacing: 1px;
    text-transform: uppercase;
  }

}

.navbar-brand {
  font: {
    family: $font-poppins;
    size: 40px;
  }
  letter-spacing: 2px;
  color: white;
}

.nav-link {
  font: {
    family: $font-poppins;
    size: 13px;
  }
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
}
